.modal {
  &__header {
    display: flex;
    align-items: baseline;
    justify-content: space-around;

    &--close {
      cursor: pointer;
    }
  }

  &__body {
    &--actions {
      display: flex;
      justify-content: space-between;
    }
  }
}
