.toast {
  border: 2px solid red;
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 60px;
  width: 320px;
  display: flex;

  &__icon {
    display: flex;
    align-self: center;
  }

  &__content {
    padding: 5px;

    &--header {
      font-weight: 700;
    }
  }
}
