<div class="messages">
  @for (item of (messages$ | async); track item.id) {
  <div
    class="messages__item"
    [ngClass]="{
      'messages__item--from-me': item.sender.id === senderId,
      'messages__item--from-them': item.sender.id !== senderId
    }"
  >
    @if (item.sender.id !== senderId) {
    <div class="messages__img">
      <img
        class="messages__img-avatar"
        [src]="
          item.sender.profileImageUrl || '/assets/images/default-profile.png'
        "
        alt="Avatar"
      />
    </div>
    }
    <div
      class="messages__message"
      [ngClass]="{
        'messages__message--from-me': item.sender.id === senderId,
        'messages__message--from-them': item.sender.id !== senderId
      }"
    >
      <div class="messages__message-content">
        {{ item.content }}
      </div>
    </div>
  </div>
  }

  <div class="messages__input">
    <input
      type="text"
      class="messages__input-field"
      placeholder="Type a message..."
      (keyup.enter)="send()"
      [(ngModel)]="content"
    />
    <button class="messages__input-button" (click)="send()">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
