<form [formGroup]="personalInfoForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput placeholder="Joe" formControlName="name" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput placeholder="test@test.com" formControlName="email" />
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <button mat-flat-button type="submit">Save</button>
</form>
