<div class="messages">
  @for (item of (messages$ | async); track item.id) {
  <div
    class="messages__message"
    [ngClass]="{
      'messages__message--from-me': item.senderId === senderId
    }"
  >
    <div class="messages__message-content">
      {{ item.content }}
    </div>
  </div>
  }

  <div class="messages__input">
    <input
      type="text"
      class="messages__input-field"
      placeholder="Type a message..."
      (keyup.enter)="send()"
      [(ngModel)]="content"
    />
    <button class="messages__input-button" (click)="send()">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
