<div class="messages">
  @for (message of messages; track $index) {
  <div
    class="messages__message"
    [ngClass]="{ 'messages__message--from-me': message.fromMe }"
  >
    <div class="messages__message-content">
      {{ message.message }}
    </div>
  </div>
  }

  <div class="messages__input">
    <input
      type="text"
      class="messages__input-field"
      placeholder="Type a message..."
    />
    <button class="messages__input-button">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
