<div class="profile">
  <div class="profile__matches-thumbnails">
    <app-matches-thumbnails
      [pairs$]="pairs$"
      (profileClicked)="onSelectedProfile($event)"
    ></app-matches-thumbnails>
  </div>
  <div class="profile__messages">
    <div class="profile__chat-list">
      <app-chat-list
        [pairs$]="pairs$"
        (profileClicked)="onSelectedProfile($event)"
      ></app-chat-list>
    </div>
    <app-messages
      [selectedProfile]="selectedProfile"
      [pairs$]="pairs$"
    ></app-messages>
  </div>
</div>
