<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="sign-up-form">
  <label for="username" class="sign-up-label">Username:</label>
  <input
    id="username"
    formControlName="username"
    type="text"
    class="sign-up-input"
  />
  @if (signUpForm.get('username')?.invalid &&
  signUpForm.get('username')?.touched) {
  <div class="sign-up-error">Username is required.</div>
  }

  <label for="email" class="sign-up-label">Email:</label>
  <input
    id="email"
    formControlName="email"
    type="email"
    class="sign-up-input"
  />
  @if (signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched) {
  <div class="sign-up-error">Valid email is required.</div>
  }

  <label for="password" class="sign-up-label">Password:</label>
  <input
    id="password"
    formControlName="password"
    type="password"
    class="sign-up-input"
  />

  @if (signUpForm.get('password')?.invalid &&
  signUpForm.get('password')?.touched) {
  <div class="sign-up-error">Password is required.</div>
  }

  <button type="submit" [disabled]="signUpForm.invalid" class="sign-up-button">
    Sign Up
  </button>
</form>
