<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>My Application</span>
    <span class="example-spacer"></span>
    <button
      mat-button
      matTooltip="Settings"
      routerLink="/settings"
      (click)="openSettings()"
    >
      <mat-icon>settings</mat-icon>
    </button>
    @if (isLoggedIn) {
    <button mat-button matTooltip="Login">
      <mat-icon>login</mat-icon>
    </button>
    } @else {
    <button mat-button matTooltip="Logout">
      <mat-icon>logout</mat-icon>
    </button>
    }
    <button mat-button matTooltip="Help">
      <mat-icon>help</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
