<mat-card appearance="outlined" class="settings-card">
  @for (setting of settings; track $index) {
  <div class="example-menu" cdkMenu>
    <button
      class="example-menu-item"
      (click)="redirectToSubpage(setting.url)"
      cdkMenuItem
    >
      <mat-icon>{{ setting.icon }}</mat-icon>
      <mat-card-content>{{ setting.title }}</mat-card-content>
    </button>
  </div>
  <mat-card-header (click)="redirectToSubpage(setting.url)">
    <mat-icon>{{ setting.icon }}</mat-icon>
    <mat-card-content>{{ setting.title }}</mat-card-content>
  </mat-card-header>
  }
</mat-card>
<router-outlet></router-outlet>
